# Introduction to Pandas dataframe

Data frame is a main object in pandas. It is used to represent data with rows and columns

Data frame is a datastructure represent the data in tabular or excel spread sheet like data)

**creating dataframe:**

In [1]:
#read weather.csv data

In [2]:
#list of tuples

weather_data = [('1/1/2017', 32, 6, 'Rain'),
                ('1/2/2017', 35, 7, 'Sunny'),
                ('1/3/2017', 28, 2, 'Snow'),
                ('1/4/2017', 24, 7, 'Snow'),
                ('1/5/2017', 32, 4, 'Rain'),
                ('1/6/2017', 31, 2, 'Sunny')
               ]
df = pd.DataFrame(weather_data, columns=['day', 'temperature', 'windspeed', 'event'])
df

NameError: name 'pd' is not defined

In [3]:
#get dimentions of the table

   #total number of rows and columns

In [4]:
#if you want to see initial some rows then use head command (default 5 rows)

In [5]:
#if you want to see last few rows then use tail command (default last 5 rows will print)

In [6]:
#slicing

In [8]:
  #print columns in a table

In [7]:
   #print particular column data

In [9]:
#another way of accessing column
            #df.day (both are same)

In [10]:
#get 2 or more columns

In [11]:
#get all temperatures

In [13]:
#print max temperature

In [14]:
#print max temperature

In [15]:
#print max temperature

In [16]:
# select rows which has maximum temperature

In [17]:
#select only day column which has maximum temperature